.main-contacts * {
    margin: 0;
    padding: 0;
}

.main-contacts input, button{
    outline: none;
}

.main-contacts{
    background: #f0f0f0;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-contacts .register{
    border: 2px solid #3f51b5;
    border-radius: 15px;
    padding: 40px;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    align-items: center;
}

.main-contacts .register .register-title{
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-contacts .register .register-title span{
    font-size: 2em;
    color:rgb(92, 92, 92);
    font-weight: bold;
}

.main-contacts .register .register-title p{
    margin-top: 5px;
    font-size: 1.1em;
    color: #3f51bb;
}

.main-contacts .register .input-group{
    margin-top: 50px;
    display: flex;
    align-items: center;
    width: 100%;
}

.main-contacts .register .input-group .register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main-contacts .register .input-group .register-form .register-item{
    width: 100%;
    margin-bottom: 15px;
}

.main-contacts .register .input-group .register-form .associateds{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-contacts .register .input-group .register-form .radio-group{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-contacts .register .input-group .register-form .radio-group span{
    font-size: 1.2em;
}

.main-contacts .register .input-group .register-form .register-select{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.main-contacts .register .input-group .register-form .register-select .MuiFormControl-root{
    width: 50%;
}

.main-contacts .register .input-group .register-form .register-select span{
    font-size: 1.3em;
    margin-bottom: 15px;
    color: #3f51bb;
}

.main-contacts .register .input-group .register-form .register-actions{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-contacts .register .input-group .register-form .register-actions button{
    margin: 0 5px 0;
    min-width: 80px;
    width: 30%;
    height: 50px;
}







